
@{
    ViewBag.Title = "FileContent";
}


<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    Invalid file format, please check.
                </div>
            </div>
        </div>
    </div>
</section>

