
@{
    ViewBag.Title = "Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="bs-example-home list-items">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div class="main-section grey ">
                            <a href='@Url.Content("~/Home/Index")'>
                                <div class="menu_section  grey">
                                    <span><i class="fa fa-share fa-5x" aria-hidden="true"></i> </span>
                                </div>
                                <div class="content-section grey-btm">
                                    <b> RMA                             </b>
                                    <p>View RMA module</p>
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    @*<div class="col-md-3">
                        <div class="main-section green">
                            <a href='@Url.Content("~/Home/education")'>
                                <div class="menu_section  green">
                                    <span><i class="fa fa-book fa-5x" aria-hidden="true"></i> </span>
                                </div>
                                <div class="content-section green-btm">
                                    <b> Education                             </b>
                                    <p>View Education module</p>
                                    <div class="btn btn-lg btn-danger"></div>
                                </div>
                            </a>
                        </div>
                    </div>*@
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>

